@font-face {
	font-family: 'Bebas Kai';
	src: url('fonts/BebasKai-Regular.otf');
}

piContainer {
	top: 0px;
	left: 0px;
	width: 480px;
	height: 240px;
	background: #fafafa;
	position: absolute;
	overflow: hidden;
	font-family: 'Bebas Kai';
	-webkit-box-shadow: 0px 0px 20px #d9d9d9;
}

piHeader {
	top: 5px;
	width: 480px;
	height: 26px;
	background: #d9d9d9;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-size: 24px;
}

piContent {
	top: 5px;
	width: 480px;
	height: 204px;
	background: #fafafa;
	position: relative;
	overflow: hidden;
	text-align: center;
	color: #808080;
	font-size: 20px;
}

eMLogoTop {
	src: "images\eM_Logo_Top300144.Png";
	top: 0px;
	left: 90px;
	-webkit-animation: animateLogoTop 30s 0s 1;
}

eMLogoBottom {
	src: "images\eM_Logo_Bottom145.Png";
	top: 390px;
	left: 168px;
	-webkit-animation: animateLogoBottom 30s 0s 1;
}
