@font-face {
	font-family: 'Bebas Kai';
	src: url('fonts/BebasKai-Regular.otf');
}

piContainer {
	top: 120px;
	left: 240px;
	width: 0px;
	height: 0px;
	background: #fafafa;
	position: absolute;
	overflow: hidden;
	font-family: 'Bebas Kai';
	-webkit-box-shadow: 0px 0px 20px #d9d9d9;
	-webkit-animation: animatePIContainer 30s 1s 1 cubic-bezier(.5,0,.5,1);
}

piHeader {
	top: 5px;
	width: 480px;
	height: 26px;
	background: #d9d9d9;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-size: 24px;
}

piContent {
	top: 5px;
	width: 480px;
	height: 204px;
	background: #fafafa;
	position: relative;
	overflow: hidden;
	text-align: center;
	color: #808080;
	font-size: 20px;
}

eMLogoTop {
	src: "images\eM_Logo_Top300144.Png";
	top: 0px;
	left: 90px;
	-webkit-animation: animateLogoTop 30s 0s 1;
}

eMLogoBottom {
	src: "images\eM_Logo_Bottom145.Png";
	top: 390px;
	left: 168px;
	-webkit-animation: animateLogoBottom 30s 0s 1;
}

@-webkit-keyframes animatePIContainer {
	0%, 100% {
		top: 125px;
		left: 240px;
		width: 0px;
		height: 0px:
	}
	10%, 90% {
		top: 115px;
		left: 240px;
		width: 0px;
		height: 10px:
	}
	15%, 85% {
		top: 115px;
		left: 0px;
		width: 480px;
		height: 10px;
	}
	18%, 22%, 80%, 82% {
		top: 102px;
		left: 0px;
		width: 480px;
		height: 36px;
	}
	25%, 75% {
		top: 0px;
		left: 0px;
		width: 480px;
		height: 240px;
	}
}

@-webkit-keyframes animateLogoTop {
	0%, 100% {
	}
	10%, 90% {
	}
	20%, 80% {
	}
	30%, 70% {
	}
}

@-webkit-keyframes animateLogoBottom {
	0%, 100% {
	}
	10%, 90% {
	}
	20%, 80% {
	}
	30%, 70% {
	}
}